body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}

.top-container {
  background-color: #262626;
  text-align: center;
  position: sticky;
  top: 0;
}

.flexcontainer{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
  background-color: #262626;
}

.pagelinks{
  padding: 1rem;
  width:auto;
  color: white;
}


.header {
  padding: 10px 16px;
  background: #262626;
  color: white;
  width: auto;
  table-layout: fixed;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.header .pages {
  padding: 1rem;
}

#currentpage {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #D9B944;
  text-decoration-style: solid;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 8px;
}

.header .spacer {
  width: 100%;
}

.logo {
  color: white;
  font-weight: bold; 
  width: 25rem;
  padding: 0.8rem;
  
}


#avatar {
  width: 8rem;
}

#pages {
  width: 100%;
  margin: auto;
  text-align: center;
}

#spacer{
  width: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #262626;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

.content {
  padding: 5%;
  color: black;
}

.date {
  font-size: 0.9rem;
  font-style: italic;
  padding-bottom: 5rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

h1{
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.social{
  width: 1.5rem;
  padding: 0.3rem; 
}



.feature-items {
  display: flex; /* changed */
  flex-flow: wrap;
  width: 100%;
  justify-content: center;
}

.feature-item--wrapper {
  background-color: rgb(236, 236, 236);
  border-radius: 1rem;
  display: flex; /* added */
  flex-direction: row;
  box-sizing: border-box;
  width: 35rem;
  margin: 1rem;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  
}

.feature-title {
  font-weight: bold;
}

.feature-subtitle {
  font-weight: bold;
  font-style: italic;
}

.img-wrapper {
  padding: 1rem;
}

.img-wrapper,
img {
  width: 10rem;
}

.text {
  box-sizing: border-box;
  padding: 2rem;
  flex: 1 1 auto;
}  

@media only screen and (max-width: 768px) {
  #avatar{
    width: 4rem;
  }

  .logo{
    font-size: 1.5rem;
  }

  .image img{
    width: 12rem;
    border: solid 0.2rem #bce5dd;
    
  }

  .contents-container {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;
  }
}


